body{
    background-color: DarkGrey;
}

h1{
    text-align: center;
    text-decoration: underline;
}

form{
    text-align: center;
}

#format{

}

#submit{
    background-color:Green;
    color:White;
    font-size:18px;
    border-color:Green;
}

#reset{
    background-color:Red;
    color:White;
    font-size:18px;
    border-color:Red;
}