body{
    background-color: DarkGrey;
}

h1{
    text-align: center;
    text-decoration: underline;
}


p{
    display: inline;
    text-align: left;
    font-size:18px;
    float: left;

}

a{
    display: inline;
    text-align: right;
    font-size: 18px;
    float: right;
}